<form id="payment-form">
    <input id="card-number" placeholder="Card Number">
    <input id="expiry" placeholder="MM/YY">
    <input id="cvv" placeholder="CVV">
    <button id="pay-button">Pay</button>
  </form>
  
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe('YOUR_PUBLISHABLE_KEY');
    
    const form = document.getElementById('payment-form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      
      const card = {
        number: document.getElementById('card-number').value,
        exp_month: document.getElementById('expiry').value.split('/')[0],
        exp_year: document.getElementById('expiry').value.split('/')[1],
        cvc: document.getElementById('cvv').value,
      };
      
      const token = await stripe.createToken(card);
     
    });
  </script>